<div class="container">
  <div class="row">
    <div class="col-8 offset-2">
      <div class="card mt-4">
        <div class="card-body">
          <h5 class="card-title">Thank you for Signing up, {{Person.firstname}}</h5>
          <p>
            <strong>Your team is: </strong> {{Team.title}}</p>
          <p>
            <p>
              <strong>Here's your hat this month: </strong> <img src="{{Hat.image}}"></img>
            </p>
            <p>
              <strong>Time: </strong> {{Today}}
            </p>
            <a href="/">← Back To Home</a>
        </div>
      </div>
    </div>
  </div>
</div>