<div id="home">
  <div class="container">
    <div class="row">
      <div class="col-8 offset-2">
        <h1>NFL Gear Zone</h1>
        <form class="clearfix mb-4" action="POST">
          <div class="form-group">
            <div class="card">
              <div class="card-header">
                Enter Your Info &amp; Subscribe Below!
              </div>
              <div class="card-body">
                <form role="form">
                  <div class="form-group">
                    <label for="firstname">First Name</label>
                    <input type="text" class="form-control" id="firstname">
                  </div>
                  <div class="form-group">
                    <label for="lastname">Last Name</label>
                    <input type="text" class="form-control" id="lastname">
                  </div>
                  <div class="form-group">
                    <label for="email">Email</label>
                    <input type="text" class="form-control" id="email">
                  </div>
                  <div class="form-group">
                    <label for="password">Password</label>
                    <input type="text" class="form-control" id="password">
                  </div>
                  <div class="d-flex justify-content-between">
                    <div class="form-group">
                      <label for="password">Street</label>
                      <input type="text" class="form-control" id="address">
                    </div>
                    <div class="form-group">
                      <label for="password">City &amp; State</label>
                      <input type="text" class="form-control" id="address">
                    </div>
                    <div class="form-group">
                      <label for="password">Zip</label>
                      <input type="text" class="form-control" id="address">
                    </div>
                  </div>
                  <div class="form-group">
                    <label for="team">Enter Your Favorite Team</label>
                    <select class="form-control" id="exampleFormControlSelect1">
                      <option></option>
                      <option>Philadelphia Eagles</option>
                      <option>Dallas Cowboys</option>
                      <option>Chicago Bears</option>
                      <option>Los Angeles Rams</option>
                      <option>New England Patriots</option>
                      <option>Los Angeles Chargers</option>
                      <option>Kansas City Chiefs</option>
                      <option>New Orleans Saints</option>
                      <option>Cleveland Browns</option>
                      <option>Indianapolis Colts</option>
                    </select>
                  </div>
                  <button type="submit" class="btn btn-primary submit">Submit</button>
                </form>
              </div>
            </div>
          </div>
      </div>
    </div>
  </div>

  <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
  <script src="/js/index.js"></script>