.list-group-item {
	line-height: 2.5;
}
h1 {
	/*main-heading*/
	font-family: "NFL Font Family";
	color:  #D50A0A;
	font-size: 7rem;
	text-align: center;
	letter-spacing: -0.5rem;
	text-shadow: -2px -2px 0 #013369, 2px -2px 0 #013369, -2px 2px 0 #013369, 2px 2px 0 #013369;
}
header {
	background-color: white;
}
p {
	display: block;
}
body {
  background: url("/images/xoKY7L.jpg");
  background-size: 100%;
	background-position: center;
	background-repeat: center;
	background-size: center;
}
form {
	opacity: .79;
}
.icons {
	background-color: white;
	padding: 1.7rem;
	border-top: solid #ff4900 5.1px;
}
.card:hover {
	border: #000000 4px solid;
	box-shadow: #e60000 3.4px;
	cursor: pointer;
}
.flex-box {
	display: flex;
	justify-content: space-between left;
	flex-wrap: wrap;
	/* padding:0 auto 0 auto;
    margin:0 auto 0 auto;
    display: flex */
	/* background-color:#ff4900;
    border-radius:4px; */
	max-width: 13.6in;
}